@font-face {
    font-family: 'Eau Douce Sans';
    font-style: normal;
    font-weight: 400;
    src: url('~/assets/fonts/eau_douce_sans_light.woff2') format('woff2');
}
@font-face {
    font-family: 'Eau Douce Sans';
    font-style: normal;
    font-weight: 600;
    src: url('~/assets/fonts/eau_douce_sans_bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Bernard MT Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('~/assets/fonts/bernard_mt_condensed_regular.woff2') format('woff2');
}

html {
    --pink: #FF06FF;
    --yellow: #FFEF00;
    --gray: #D9D9D9;
    --unit: 24px;
    --padding: 6px;

    --body-font: 'Eau Douce Sans';
    --header-font: 'Bernard MT Condensed';

    min-height: 100vh;
    background-color: black;
}
body {
    margin: 0;
    font-family: var(--body-font);
    color: white;
}
main, .main {
    max-width: 40rem;
    margin: 0 auto;
}
h1, h2, h3 {
    font-family: var(--header-font);
    color: var(--pink);
}

.infoimage{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.infocaption{
    font-size: 90%;
    font-style: italic;
}